body {
    background: linear-gradient(180deg, #591544 0%, rgba(189, 20, 71, 0.75) 47.4%, #EC682F 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
}

.icon {
    background-image: url( 'ico/Frame-1.svg' );
    background-repeat: no-repeat;

}

.icon-productores {
    background-image: url( 'ico/Frame-2.svg' );
    background-repeat: no-repeat;

}

.icon-defensa-civil {
    background-image: url( 'ico/Frame-3.svg' );
    background-repeat: no-repeat;

}

.icon-turismo {
    background-image: url( 'ico/Frame-1.svg' );
    background-repeat: no-repeat;

}

