
/* FONT */

@font-face {
    font-family: 'Codec Cold Trial';
    src: url(font/codec-cold-thin-trial.ttf);
}

@font-face {
    font-family: 'Codec Cold Extralight';
    src: url(font/codec-cold-extralight-trial.ttf);
}

@font-face {
    font-family: 'Codec Cold Light';
    src: url(font/codec-cold-light-trial.ttf);
}

@font-face {
    font-family: 'Quicksand';
    src: url(font/quicksand.ttf);
}


/* TAG */

body {
    background: linear-gradient(180deg, #591544 0%, rgba(189, 20, 71, 0.75) 47.4%, #EC682F 100%);
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    color: #FFF;
    font-family: 'Codec Cold Light';
    min-height: 750px;
    margin: 0;
}

textarea:hover, 
input:hover,
select:hover,
button:hover,
textarea:active, 
input:active, 
select:active, 
button:active,
textarea:focus, 
input:focus,
select:focus,
button:focus,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none !important;
    box-shadow: none !important;
}

h1,h2,h3,h4,h5,h6 {
    color: #FFF;
}
    h2 {
        font-size: 39px;
        padding-bottom: 60px;
    }
    h6 {
        font-size: 39px;
    }

hr {
    padding: 0;
    margin: 30px 0;
}

a {
    color: #FFF !important;
}

footer {
    background-color: #2B2B2B;
    font-size: 16px;
    padding: 5% 0;
}

p {
  font-size: 20px;  
}
    p span {
        font-family: 'Quicksand';
    }

/* ID */

#portada h1 {
    text-align: center;
    font-size: 35px;
}
    #portada h1 span {
        background: #EC682F;
        padding: 5px 15px 0;
        line-height: 65px;
    }

#beneficios {
    background-color: transparent;

}
    #beneficios .card {
        background-color: #591544;
        border-radius: 10px;
        padding: 12px 15px;
        text-align: center;

    }
        #beneficios .card .card-body {
            border: 2px solid #BD1447;
            border-radius: 10px;
            padding: 80px 20px;
        }
            #beneficios .card .card-body .card-title {
                margin: 40px 0;
            }

#caracteristicas .card {
    background-color: transparent;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 50px !important;
    padding: 0;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}
    #caracteristicas .card .card-body {
        padding: 50px 40px;
    }
        #caracteristicas .card .card-body .card-title {
            font-size: 23px;
            margin: 20px 0 0;
        }

/* CLASS */

.navbar {
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(89, 21, 68,1));
    /*
    border-bottom: 2px solid transparent;
    border-image-source: linear-gradient(180deg, #8B365F 0%, #661D4A 100%) !important;
    border-image-slice: 1;
    */
}
    .navbar-toggler {
        border: 0;
        color: #FFF !important;
        font-size: 40px;
    }

.form-label {
    margin: 0;
    padding: 0;
}

.form-control {
    background: rgba(217, 217, 217, 0.2);
    border: 1px solid #FFFFFF;
    border-radius: 10px; 
    font-family: 'Quicksand';
    min-height: 60px;
    margin-bottom: 20px;
}

.btn-01 {
    padding: 15px 50px;
    background: #591544;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    color: #FFF;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
}

hr.hr-01 {
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #8B365F 0%, #661D4A 100%);
    margin: 0;
}

hr.hr-02 {
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #C26786 0%, #A3496E 100%);
}

hr.hr-03 {
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #DC665C 0%, #D37388 100%);
}

.icon {

    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100px;
    display: block;

}

    .icon-00 {
        background-image: url( 'icon/capa-1.svg' );

    }

    .icon-turismo {
        background-image: url( 'icon/frame-1.svg' );
    }

    .icon-productores {
        background-image: url( 'icon/frame-2.svg' );
    }

    .icon-defensa-civil {
        background-image: url( 'icon/frame-3.svg' );
    }

    .icon-01 {
        background-image: url( 'icon/fi-rr-globe.svg' );
    }

    .icon-02 {
        background-image: url( 'icon/fi-rs-edit.svg' );
    }

    .icon-03 {
        background-image: url( 'icon/fi-rs-map-marker.svg' );
    }

    .icon-04 {
        background-image: url( 'icon/fi-rs-school-bus.svg' );
    }

    .icon-05 {
        background-image: url( 'icon/frame.svg' );
    }

    .icon-06 {
        background-image: url( 'icon/icon-envelope-line-recto.svg' );
    }

    .icon-07 {
        background-image: url( 'icon/icon-phone-call-line.svg' );
    }
